<!doctype html>
<html ng-app="app">
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script language="javascript" type="text/javascript">
      angular.module('app', []);
      
      //Whatever you put on the controller scope,
      //will be availalble in the HTML element bound to the controller.
      function MyController($scope){
        $scope.newMessage = "Hi";
        $scope.messages = ["https://en.gravatar.com/userimage/59834132/0b0eb848c36035bb21ba1ef1963c96b7.jpg", "https://en.gravatar.com/userimage/59834099/60c66f13430038c03619b46576a994e7.jpg"]; 
        $scope.captions = ["lame","ya"];
        
        $scope.add = function(){
          $scope.messages.push($scope.newImage);
          $scope.captions.push($scope.newMessage);
        };
      }
    </script>
  </header>
  <h2>LEAVE AN URL CUTE PICTURE OF YOURSELF!!!!!:</h2>
  <body ng-controller="MyController">
         
    IMAGE: <input type="text" ng-model="newImage"> &nbsp &nbsp &nbsp
    WORDS: <input type="text ng-model=newMessage"><br/>
    
    <input type="submit" ng-click="add()" value="SUBMIT AWESOME PHOTO AND WORDS">
    <br/>
    <br/>
    Photos: <br/>
    
    <table>
    
    <tr>
    
      <li ng-repeat="message in messages","caption in captions" >
        
        <img src="{{message}}"></img>
        
      </li>
    
    </tr>
    
    </table>
    
    <br/><br/>
    
    <b>MESSAGES:</b> <br/>
    
    <table>
      <ul>
          <li ng-repeat="caption in captions" >
        
          {{caption}}
        <ul>
    </table>
    
  </body>
  
</html>
